<!DOCTYPE html>
<html>
<head>
    <title>EVALARM SOS Platform</title>
    <link rel="stylesheet" href="/static/css/style.css?v=1">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/asset-dashboard.css">
    <link rel="stylesheet" href="/static/css/device-manager.css">
    <link rel="stylesheet" href="/static/css/maintenance-planner.css">
    <link rel="stylesheet" href="/static/css/asset-manager.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/asset-creation-dialog.css">
    <!-- Vue.js als ES Module -->
    <script type="importmap">
    {
        "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
    }
    </script>
</head>
<body>
    <!-- Nur der Mount-Punkt für Vue -->
    <div id="app"></div>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html> 